[submodule "docker_archlinux_user"]
	path = docker_archlinux_user
	url = https://github.com/yasunori-kirin0418/docker_archlinux_user.git
[submodule "dotfiles"]
	path = dotfiles
	url = https://github.com/yasunori-kirin0418/dotfiles.git
